.answer {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(1, 18, 253);
    height: 70px;
    width: 280px;

}

.answer:hover {
    background-color: rgb(1, 18, 253);
    color: white;
}

.answer__letter {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(1, 18, 253);
    padding: 1rem;
    height: 100%;
}

.answer__text {
    font-size: 1rem;
}